@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #233038;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1000px;
  margin: 0 auto;
}

header .nav-header .ul-header {
  display: flex;
}

.ul-header li {
  margin: 0 10px;
}

.ul-header li a {
  display: block;
  padding: 10px;
  color: #d7d8da;
}
